<ion-header>
    <ion-toolbar >
      <ion-buttons class="left" slot="start">
        <ion-button>
          <ion-icon name="arrow-round-back" [routerLink]="['/menu/products-menu']"></ion-icon>
        </ion-button>
      </ion-buttons>
        
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="search"></ion-icon>
        </ion-button>
        
        <ion-button>
          <ion-icon name="cart" [routerLink]="['/menu/my-cart']"></ion-icon>
        </ion-button>
  
        <ion-menu-button></ion-menu-button>
      
      </ion-buttons>
      
    </ion-toolbar>
  </ion-header>

<ion-content fullscreen  class= "bg-image" scrollX="false" padding>

  <div class="pointsLabel">
    <label class="points">MIS PUNTOS</label>
  </div>

  <!-- image block -->
  <div class="weight">
    <ion-img class="weightLogo" src="assets/misc/pointsTable.png" ></ion-img>
  </div>



</ion-content>
