ion-content{
    --background: url("src/assets/backgrounds/legend.png") no-repeat center center fixed cover;;
    --background-size: cover;
}

.bg-image {
    background: url("src/assets/backgrounds/legend.png") no-repeat center center fixed;
    background-size: cover;
}  

