<ion-content fullscreen  class= "bg-image" scrollX="false" padding>

  
  <div>
    <img class="return" src="assets/buttons/returnBtn.png" [routerLink]="['/login']">
  </div>

   <!-- logo block -->
  <div class="logoBlock">
    <ion-img class="logo"  src="assets/logos/logo2.png" style="height:75px;width: 150px;"></ion-img>
  </div>


  <div class="logo2">
    <ion-img class="registrationLogo" src="assets/misc/registration.png"></ion-img>
  </div>

  <form #form="ngForm"  (ngSubmit)="register(form)" method="post">

    <div class="addAvatar">
      <div class="avatarInfo">
        <ion-avatar class="avatar">
          <img src="assets/avatar/registrationAvatar.png">
        </ion-avatar> 
        <ion-label class="avatarLabel">Añadir foto</ion-label>
      </div>
    </div>


    <div class="name">
      <ion-input ngModel class="nameInput" name="name" type ="text" placeholder="Nombre y Apellido"  ></ion-input>
    </div>

    <div class="phone">
      <ion-input ngModel class="phoneInput" name="phone"  type ="text" placeholder="Teléfono"></ion-input>
    </div>

    <div class="mail">
      <ion-input ngModel class="mailInput" name="email" type="email" placeholder="Correo Electrónico"> </ion-input>
    </div>

    <div class="password">
      <ion-input ngModel class="passwordInput" name="password"  type="password" placeholder="Contraseña" ></ion-input>
    </div>

    <div class="adress">
      <ion-input ngModel class="adressInput" name="adress"  type="text" placeholder="Dirección" ></ion-input>
    </div>

    

    

    <div class="continue">
      <button type="submit"  class="continue-button"  >
        <ion-img class="continueIcon" src="assets/buttons/continueLogin.png" alt="" ></ion-img>
      </button>
    </div>

  </form>
</ion-content>
