<ion-content fullscreen  class= "bg-image" scrollX="false" padding>

  
  <div>
    <img class="return" src="assets/buttons/returnBtn.png" [routerLink]="['/login']">
  </div>

   <!-- logo block -->
  <div class="logoBlock">
    <ion-img class="logo"  src="assets/logos/logo2.png" style="height:75px;width: 150px;"></ion-img>
  </div>


  <div class="logo2">
    <ion-img class="registrationLogo" src="assets/misc/registration.png"></ion-img>
  </div>

  <form #form="ngForm" (ngSubmit)="register(form)">

  <div class="addAvatar">
    <div class="avatarInfo">
      <ion-avatar class="avatar">
        <img src="assets/avatar/registrationAvatar.png">
      </ion-avatar> 
      <ion-label class="avatarLabel">Añadir foto</ion-label>
    </div>
  </div>


  <div class="name">
    <ion-input class="nameInput" type ="text" placeholder="Nombre y Apellido" name="name" [(ngModel)]="data.name"></ion-input>
  </div>

  <div class="phone">
    <ion-input class="phoneInput" type ="text" placeholder="Teléfono" name="phone" [(ngModel)]="data.phone"></ion-input>
  </div>

  <div class="mail">
    <ion-input class="mailInput" type="email" placeholder="Correo Electrónico" name="email" [(ngModel)]="data.email"> </ion-input>
  </div>

  <div class="password">
    <ion-input class="passwordInput" type="password" placeholder="Contraseña" name="password" [(ngModel)]="data.password" ></ion-input>
  </div>


  <div class="continue">
    <button class="continue-button" click >
      <ion-img class="continueIcon" src="assets/buttons/continueLogin.png" alt="" (click)="register" ></ion-img>
    </button>
  </div>

</form>
</ion-content>
