<ion-header>
    <ion-toolbar >
      <ion-buttons class="left" slot="start">
        <ion-button>
          <ion-icon name="arrow-round-back" [routerLink]="['/menu/products-menu']"></ion-icon>
        </ion-button>
      </ion-buttons>
        
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="search"></ion-icon>
        </ion-button>
        
        <ion-button>
          <ion-icon name="cart"></ion-icon>
        </ion-button>
  
        <ion-menu-button></ion-menu-button>
      
      </ion-buttons>
      
    </ion-toolbar>
  </ion-header>
<ion-content fullscreen  class= "bg-image" scrollX="false" padding>

  <div class="labelOrder">
    <label class="label">LISTA DE PEDIDO</label>
  </div>

  <div>
      <ion-list style=" background: transparent !important; " padding >
        <ion-item class="productItem" *ngFor="let item of items">
          <img class="imgItem" src="{{item.img}}">
          <div>
            <label class="nameItem">{{item.name}}</label>
            <label class="priceItem">{{item.price}} </label>
          </div>
  
        </ion-item>
      </ion-list>
  </div>

  <div class="total">
    <label class="labelSubtotal">
      Sub Total: $ 4.0
    </label> <br>
    <label class="labelTransport">
      Envio: $ 1.5
    </label> <br>
    <label class="labelPoints">
        Canjea tus puntos: $ 1.0 
      </label><br>
    <label class="labelTotal">
      Total: $ 5.5
    </label> 
  </div>

  <div>
    <img src="assets/misc/3-02.png">
  </div>
  
    <div class="continue">
      <button class="continue-button" [routerLink]="['/confirmation']" >
        <ion-img class="continueIcon" src="assets/buttons/continueLogin.png" alt="" ></ion-img>
      </button>
    </div>
  
  </ion-content>
  