ion-toolbar{
    --color: var(--ion-toolbar-color,var(--ion-text-color,#402208));
    --background: transparent;
    --ion-color-base: transparent !important;
}



ion-content{
    --background: url("src/assets/backgrounds/mainBackground.jpg") no-repeat center center fixed cover;;
    --background-size: cover;
}

.bg-image {
    background: url("src/assets/backgrounds/mainBackground.jpg") no-repeat center center fixed;
    background-size: cover;
} 

// .grid-categories{
//     // border: red solid;
// }

.productItem {
    fill: transparent;
    background: transparent !important; 
}

item-native{
    fill: transparent;
    background: transparent !important; 
}

ion-item{
    --background: var(--ion-item-background,var(--ion-background-color,transparent));
}


.imgItem{
    height:53.06px ;
    width: 89.9px ;
}

.priceItem{
    font-family: "Century Gothic";
    size: 15.73em;
    color: #402208;
}

.nameItem{
    font-family:"Century Gothic";
    size:18em;
    color: #402208;
    font-weight: bold;
}

.productImage{
    fill: transparent;
    --background: transparent !important; 
    color: transparent !important;
    width: 50px;
    height: 50px;
}

.labelOrder{
    background-color: #547E1A;
    text-align: center;
    margin: none;
    padding: none;


}

.label{
    font-family: 'Century Gothic';
    font-weight: bold;
    size: 18px;
    color: white;
}

.labelSubtotal {
    font-family: 'Century Gothic';
    font-weight: bold;
    size: 18px;
    color: #402208;
}

.labelTransport{
    font-family: 'Century Gothic';
    font-weight: bold;
    size: 18px;
    color: #402208;
}

.labelPoints{
    font-family: 'Century Gothic';
    font-weight: bold;
    size: 18px;
    color: #402208;
}

.labelTotal{
    font-family: 'Century Gothic';
    font-weight: bold;
    size: 18px;
    color: #402208;
}


.total{
    display: block;      
    height: 80px;  
}

.continue{
    position: relative;
    top: 20.21px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
}

.continue-button{
    fill: transparent;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    border: none;
    width:163.22px;
    height:38.7px;
}


.continueIcon{
    margin-left: auto;
    margin-right: auto;
    width:163.22px;
    height:38.7px;
}

