<ion-header>
  <ion-toolbar >
    <ion-buttons class="left" slot="start">
      <ion-button>
        <ion-icon name="arrow-round-back" [routerLink]="['/menu/products-menu']"></ion-icon>
      </ion-button>
    </ion-buttons>
      
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
      
      <ion-button>
        <ion-icon name="cart"></ion-icon>
      </ion-button>

      <ion-menu-button></ion-menu-button>
    
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
  


<ion-content fullscreen  class= "bg-image" scrollX="false" padding>
    <!-- <div>
      <img class="return" src="assets/buttons/returnBtn.png" [routerLink]="['/login']">
    </div> -->
  
     <!-- logo block -->
    <div class="logoBlock">
      <ion-img class="logo"  src="assets/logos/logo2.png" style="height:75px;width: 150px;"></ion-img>
    </div>
  
  
    <div class="logo2">
      <ion-img class="registrationLogo" src="assets/misc/registration.png"></ion-img>
    </div>
  
    <div class="addAvatar">
      <div class="avatarInfo">
        <ion-avatar class="avatar">
          <img src="assets/avatar/registrationAvatar.png">
        </ion-avatar> 
        <ion-label class="avatarLabel">Cambiar foto</ion-label>
      </div>
    </div>
  
  
    <div class="name">
      <ion-input class="nameInput" placeholder="Nombre y Apellido"></ion-input>
      <button  class="editBtn"> <img  style="height:25px;" src="assets/icon/editIcon.png">
      </button>
    </div>
  
    <div class="phone">
      <ion-input class="phoneInput" placeholder="Teléfono"></ion-input>
      <button  class="editBtn"> <img  style="height:25px;" src="assets/icon/editIcon.png">
      </button>
    </div>
  
    <div class="mail">
      <ion-input class="mailInput" type="email" placeholder="Correo Electrónico"></ion-input>
      <button  class="editBtn"> <img  style="height:25px;" src="assets/icon/editIcon.png">
      </button>
    </div>
  
    <div class="password">
      <ion-input class="passwordInput" type="password" placeholder="Contraseña"></ion-input>
      <button  class="editBtn"> <img  style="height:25px;" src="assets/icon/editIcon.png">
      </button>
    </div>
  
  
    <div class="continue">
      <button class="continue-button" [routerLink]="['/adress']" >
        <ion-img class="continueIcon" src="assets/buttons/continueLogin.png" alt="" ></ion-img>
      </button>
    </div>
  
  </ion-content>
  