ion-content{
    --background: url("src/assets/backgrounds/mainBackground.jpg") no-repeat center center fixed cover;;
    --background-size: cover;
}

.bg-image {
    background: url("src/assets/backgrounds/mainBackground.jpg") no-repeat center center fixed;
    background-size: cover;
} 

.registration-button{
    fill: transparent;
    background-color: transparent;
    position:center;  
}

.registration-label{
    size:14.22px;
    color: #00852A;
    font-family: "Century Gothic";
    font-weight: bold;
    position: center;
}

.gridInfo{
    fill: transparent;
    padding-bottom: 10px;
    object-position: center;
}

.list-input {
    background-color: transparent !important;
}

.email-input .password-label{
    background-color: transparent !important;
}

.first-row{
    position:center;
    padding-bottom: 30px;
}

.forgotten-password{
    text-align: center;
    color: #402208;
}

.remeberMe {
    color: #402208;
}
