ion-content{
    --background: url("src/assets/backgrounds/mainBackground.jpg") no-repeat center center fixed cover;;
    --background-size: cover;
}

.bg-image {
    background: url("src/assets/backgrounds/mainBackground.jpg") no-repeat center center fixed;
    background-size: cover;
}

.return{
    position: relative;
    top: 24px;
    left:19px;
    height: 16px;
    width: 13px;
}

.logoBlock{
    position: relative; 
    top:66px;
}

.logo{
    margin-left: auto;
    margin-right: auto;
}

.registration{
    position: relative;
    top: 119.21px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.registration-button{
    fill: transparent;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    border: none;

}

.registrationIcon{
    margin-left: auto;
    margin-right: auto;
    width:66.07px;
    height:66.01px;
}

.registration-label{
    font-family: "Century Gothic";
    font-weight: bold;
    text-align: center;
    size:14.22em;
    color: #00852A;
    margin-left: auto;
    margin-right: auto;
}

.email{
    position: relative;
    top: 131.83px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password{
    position: relative;
    top: 183.62px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.email-input {
    --background: transparent !important;
    --border-color: transparent !important;
    border-style:none none solid none;;
    border-bottom-width: 1px;
    border-bottom-color: #3B2508;
    margin: 0 auto;
    width: 305.98px;
}

.password-label {
    --background: transparent !important;
    --border-color: transparent !important;
    border-style:none none solid none;;
    border-bottom-width: 1px;
    border-bottom-color: #3B2508;
    width: 305.98px;
    margin-left: auto;
    margin-right: auto;
}

.forgottenpass{
    position: relative;
    top: 220.21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotten-password{
    font-family: "Candara";
    text-align: center;
    color: #402208;
    size: 13.61em;
    margin-left: auto; 
    margin-right: auto;
}

.rLabel{
    position: relative;
    top: 240.21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checked{
    fill-rule:#402208; 
    fill: #402208;    
    opacity:60%;
}

.rememberMe{
    font-family: "Century Gothic";
    text-align: center;
    size:13.61em;
    color: #3B2508;
    opacity:60%;
    margin-left: auto;
    margin-right: auto;
}

.continue{
    position: relative;
    top: 260.21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.continue-button{
    fill: transparent;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    border: none;
    width:164px;
    height:38.7px;
}


.continueIcon{
    margin-left: auto;
    margin-right: auto;
    width:163.22px;
    height:38.7px;
}

.guest{
    position: relative;
    top: 270.21px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
}

.guestL{
    font-family: "Century Gothic";
    color: #3B2508;
    size:13.61em;
}