
<ion-content fullscreen  class= "bg-image" scrollX="false" >
  
  <div class="return">
    <img src="assets/buttons/returnBtn.png" [routerLink]="['/intro']">
  </div>

  <!-- logo block -->
  <div class="logoBlock">
    <ion-img class="logo"  src="assets/logos/logo2.png" style="height:75px;width: 150px;"></ion-img>
  </div>
  
  <!-- buttons block -->
  <div class="registration">
    <button class="registration-button" [routerLink]="['/registration']">
      <ion-img class="registrationIcon" src="assets/buttons/registration1.png" ></ion-img><br>
      <ion-label class="registration-label">REGÍSTRATE</ion-label>
    </button>
  </div>

  <!-- inputs block and formular -->
  <form #form="ngForm" (ngSubmit)="login(form)" method="post">
  
    <div class="email">
      <div style="width: 305.98px;">
        <ion-input  ngModel class="email-input" name="email" type="email" placeholder="Correo electrónico" ></ion-input>
      </div>
    </div>

    <div class="password">
      <div style="width: 305.98px;">
        <ion-input  ngModel class="password-label" name="password" type="password" placeholder="Contraseña" ></ion-input> 
      </div>
    </div>

    <!-- buttons block -->
    <div class="forgottenpass">
      <ion-label class="forgotten-password" [routerLink]="['/forgottenpass']" floating> ¿Has olvidado tu contraseña?</ion-label>
    </div>

    <!-- remember button, need to be implemented -->
    <!-- <div class="rLabel">
      <div style="display: inline-flex;">
        <ion-checkbox checked="true" class="checked"></ion-checkbox>
        <ion-label class="rememberMe" >Recuérdame</ion-label>
      </div>
    </div> -->

    <div class="continue">
      <button type="submit" class="continue-button" >
        <ion-img class="continueIcon" src="assets/buttons/continueLogin.png" alt="" ></ion-img>
      </button>
    </div>

  </form>

  <!-- Implementation of the guest session, it's anymore need it  -->
  <!-- <div class="guest">
    <ion-label class="guestL" [routerLink]="['/menu/products-menu']" floating> Continuar como invitado</ion-label>
  </div> -->

</ion-content>