ion-toolbar {
    --background-color : transparent;
    --ion-color-base: transparent !important;
}

ion-content{
    --background: url("src/assets/backgrounds/introBackground.jpg") no-repeat center center fixed cover;;
    --background-size: cover;
}

.bg-image {
    background: url("src/assets/backgrounds/introBackground.jpg") no-repeat center center fixed;
    background-size: cover;
}  

.no-scroll .scroll-content {
    overflow: hidden;
}

.jumpIntro{
    display: flex;
}

.loginBtn{
    display: block;
    margin-right: 12px; 
    top: 12px;
    width: 60px;
    height: 15px;

}

.home-container {
    position:absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    top:50%;
    transform:translateY(-50%);
}

.row-center img {
    position:absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    top:50%;
    transform:translateY(-50%);
}

.logoSlogan{
    margin-left: auto;
    margin-right: auto;
    height: 130px;
    width: 240px;
}

.jumpIntro{
    font-family: "Century Gothic";
    font-weight: bold;
    size:12em;
    color: #402208;
}

