
<ion-header>
  <ion-toolbar>
  	<ion-buttons class="left" slot="start">
  		<ion-button>
  			<ion-icon name="arrow-round-back"></ion-icon>
  		</ion-button>
		<ion-button>
			<ion-icon name="search"></ion-icon>
		</ion-button>
		<ion-button>
			<ion-icon name="cart"></ion-icon>
		</ion-button>
		<ion-menu-button></ion-menu-button>
	</ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
	<div scrollY="true">
	<ion-grid>
		<ion-row>
			<ion-col>
				<button>
					<img src="assets/icon/iconFruits.png">
					<p>Frutas</p>
				</button>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<button>
					<img src="assets/icon/iconVegetables.png" >
					<p>Verduras</p>
				</button>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<button>
					<img src="assets/icon/iconOrganics.png" >
					<p>Orgánico</p>
				</button>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<button>
					<img src="assets/icon/iconRice.png" >
					<p>Arroz</p>
				</button>
			</ion-col>
		</ion-row>
	</ion-grid>
	</div>
</ion-content>


