
<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
		<ion-menu-button></ion-menu-button>
	</ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-grid>
		
		<ion-row>
			<ion-col>
				<button>
					<img src="assets/icon/fruits.png" style="width : 25% ; height : 25%">
					<p>Frutas</p>
				</button>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<button>
					<img src="assets/icon/vegetables.png" style="width : 25% ; height : 25%">
					<p>Verduras</p>
				</button>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<button>
					<img src="assets/icon/organic.png" style="width : 25% ; height : 25%">
					<p>Orgánico</p>
				</button>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<button>
					<img src="assets/icon/rice.png" style="width : 25% ; height : 25%">
					<p>Arroz</p>
				</button>
			</ion-col>
		</ion-row>

	</ion-grid>


<!--   The world is your oyster.
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p> -->
</ion-content>




	
	<!-- <div class = "button-bar">
		<button >
			<img src="assets/icon/backArrow.png" style="width : 5% ; height : 5%">
		</button>

		<button >
			<img src="assets/icon/search.png" style="width : 5% ; height : 5%">
		</button>

		<button >
			<img src="assets/icon/buyCart.png" style="width : 5% ; height : 5%">
		</button>

		<button >
			<img src="assets/icon/menu.png" style="width : 5% ; height : 5%">
		</button>
	</div>
 -->
