<ion-header>
	<ion-toolbar>
	  	<ion-title>Menu</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-grid>
			
		<ion-row>
			<ion-col>
				<ion-label>Registrate</ion-label>
			</ion-col>
		</ion-row>
			
		<ion-row>
			<ion-col>
				<ion-input placeholder="Nombre:"></ion-input>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<ion-input placeholder="Apellido:"></ion-input>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<ion-input placeholder="Teléfono:"></ion-input>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<ion-input class="mail" placeholder="Correo Electrónico:"></ion-input>
			</ion-col>
		</ion-row>

		<ion-row>
			<button class="loginBtn">Continuar</button>
		</ion-row>

	</ion-grid>

	<!--   The world is your oyster.
	  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p> -->
</ion-content>
