<ion-header>
  <ion-toolbar >
  	<ion-buttons class="left" slot="start">
  		<ion-button>
  			<ion-icon name="arrow-round-back" [routerLink]="['/login']"></ion-icon>
  		</ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button>
			<ion-icon name="search"></ion-icon>
		</ion-button>
		<ion-button>
			<ion-icon name="cart"></ion-icon>
		</ion-button>
		<ion-menu-button></ion-menu-button>
  </ion-buttons>
    <!-- <ion-title>Productos</ion-title> -->
  </ion-toolbar>
</ion-header>



<ion-content fullscreen  class= "bg-image" scrollX="false" padding>
    
 
<div class="options" scrollY="true">

  <div class="fruits">
    <button class="buttonFruits" [routerLink]="['/fruits']">
      <img src="assets/icon/iconFruits.png" >
      <label class="fruitsLabel">Frutas</label>
    </button>
  </div>

  <div class="vegetables">
    <button class="buttonVegetables" [routerLink]="['/vegetables']">
      <img src="assets/icon/iconVegetables.png">
      <label class="vegetablesLabel">Verduras</label>
    </button>
  </div>

  <div class="organics">
    <button class="buttonOrganics" [routerLink]="['/organics']">
      <img src="assets/icon/iconOrganics.png">
      <label class="organicsLabel">Orgánico</label>
    </button>
  </div>

  <div class="rices">
    <button class="buttonRices" [routerLink]="['/rices']">
      <img src="assets/icon/iconRices.png">
      <label class="ricesLabel">Arroz</label>
    
    </button>
  </div>



  </div>

 
</ion-content>
