ion-toolbar{
    --color: var(--ion-toolbar-color,var(--ion-text-color,#402208));
    --background: transparent;
    --ion-color-base: transparent !important;
}

ion-content{
    --background: url("src/assets/backgrounds/mainBackground.jpg") no-repeat center center fixed cover;;
    --background-size: cover;
}


.bg-image {
    background: url("src/assets/backgrounds/mainBackground.jpg") no-repeat center center fixed;
    background-size: cover;
} 

.gridCategory{
    position: relative;
    top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.rowCategory{
    position: relative;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonCategory{
    background: transparent !important; 
    display: block;
    margin-bottom: 10px;
    height: 88px; 
    width: 80px;
    
}

.categoryLabel{
    font-family: "Century Gothic";
    font-weight: bold;
    text-align: center;
    size:14.68em;
    color: #402208;
    margin-left: auto;
    margin-right: auto;
}
