<ion-header>
  <ion-toolbar>
  	<ion-buttons class="left" slot="start">
  		<ion-button>
  			<ion-icon name="arrow-round-back"></ion-icon>
  		</ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button>
			<ion-icon name="search"></ion-icon>
		</ion-button>
		<ion-button>
			<ion-icon name="cart"></ion-icon>
		</ion-button>
		<ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content fullscreen  class= "bg-image" scrollX="false" padding>
    
  <div class="logo1">
    <figure>
      <ion-img src="assets/logos/logo2.png"></ion-img>
      </figure>
    </div>
  
  <div scrollY="true">
        <ion-grid>
          <ion-row>
            <ion-col>
              <button class="buttonFruits">
                <img src="assets/icon/iconFruits.png">
                <p>Frutas</p>
              </button>
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col>
              <button class="buttonVegetables">
                <img src="assets/icon/iconVegetables.png"  >
                <p>Verduras</p>
              </button>
            </ion-col>
          </ion-row>
      
          <ion-row>
            <ion-col>
              <button class="buttonOrganics">
                <img src="assets/icon/iconOrganics.png" >
                <p>Orgánico</p>
              </button>
            </ion-col>
          </ion-row>
      
          <ion-row>
            <ion-col>
              <button class="buttonRices">
                <img src="assets/icon/iconRice.png" >
                <p>Arroz</p>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
        </div>

 
</ion-content>
