// ion-toolbar {
//     // --background: transparent;
//     // --ion-color-base: transparent !important;
//     --ion-color-base:#17100D;
//     opacity: 80%;
// }

.home-container {
    position: absolute;
    top:240px;
}

.button{
    background-color: transparent !important;
    position: absolute;
    top:370px;
    left: 126.5px;
    height: 26px;
    width: 105px;
}