ion-content{
    --background: url("src/assets/backgrounds/confirmationBackground.png") no-repeat center center fixed cover;;
    --background-size: cover;
}

.bg-image {
    background: url("src/assets/backgrounds/confirmationBackground.png") no-repeat center center fixed;
    background-size: cover;
} 

.confirmationImg{
    position: relative;
    display: flexbox;
    top: 175px;
    height: 300px;
    width: 300px;
    text-align: center;
    align-content: center;
}

.familyLabel{
    font-family: 'Winterbean' !important;
    font-style: italic;
    size: 35px;
    color: #402208;
}

.whattApp{
    position: relative;
    top: 200px;
    text-align: center;
}

.whattAppLogo{
    height: 51.8px;
}