ion-content{
    --background: url("src/assets/backgrounds/mainBackground.jpg") no-repeat center center fixed cover;;
    --background-size: cover;
}

.bg-image {
    background: url("src/assets/backgrounds/mainBackground.jpg") no-repeat center center fixed;
    background-size: cover;
}



.logoBlock{
    position: relative;
    top: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ricesIcon{
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
}

.logo{
    margin-left: auto;
    margin-right: auto;
    height: 88px; 
    width: 68px;
}

.ricesLabel{
    font-family: "Century Gothic";
    text-align: center;
    size:15.77em;
    color: #00852A;
    margin-left: auto;
    margin-right: auto;
}

.list{
    height: 20.78px; 
    width: 20.78px;
}


.options{
    background-color: #547E1A !important;
    --background: var(--ion-toolbar-background,var(--ion-background-color,transparent));
    display: flex;
    text-align: center;
    align-items: center;
    
}

.fruBtn{
    background-color: transparent !important;
    fill: transparent;
    height: 50px;
    width: 50px;
    margin-right: 50px;
}

.vegBtn{
    background-color: transparent !important;
    fill: transparent;
    height: 45px;
    width: 45px;
   
}
.orgBtn{
    background-color: transparent !important;
    fill: transparent;
    height: 50px;
    width: 50px;
    margin-left: 50px;
}
