ion-toolbar{
    --color: var(--ion-toolbar-color,var(--ion-text-color,#402208));
    --background: transparent;
    --ion-color-base: transparent !important;
}


ion-content{
    --background: url("src/assets/backgrounds/mainBackground.jpg") no-repeat center center fixed cover;;
    --background-size: cover;
}

.bg-image {
    background: url("src/assets/backgrounds/mainBackground.jpg") no-repeat center center fixed;
    background-size: cover;
}

.return{
    position: relative;
    top: 24px;
    left:19px;
    height: 16px;
    width: 13px;
}

.logoBlock{
    position: relative; 
    top:20px;
}

.logo{
    margin-left: auto;
    margin-right: auto;
}


.productItem {
    fill: transparent;
    background: transparent !important; 
}

item-native{
    fill: transparent;
    background: transparent !important; 
}

ion-item{
    --background: var(--ion-item-background,var(--ion-background-color,transparent));
}

.imgItem{
    height:53.06px ;
    width: 89.9px ;
}

.priceItem{
    font-family: "Century Gothic";
    size: 15.73em;
    color: #402208;
}

.nameItem{
    font-family:"Century Gothic";
    size:18em;
    color: #402208;
    font-weight: bold;
}

.productImage{
    fill: transparent;
    --background: transparent !important; 
    color: transparent !important;
    width: 75.8px;
    height: 54.92px;
}

.addBtn{
    background-color: transparent !important;
    fill: transparent;
    margin: none;
}

.removeBtn{
    background-color: transparent !important;
    fill: transparent;
    margin: none;
}


.continue{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent !important;
}


.continueBuying-button {
    fill: transparent;
    background-color: transparent !important;
    margin-left: auto;
    margin-right: auto;

    // border: none;
    // width:28px;
    // height:38.7px;
}

.endBuying-button{
    fill: transparent;
    background-color: transparent !important;
    margin-left: auto;
    margin-right: auto;

}

.continueBuyingIcon .endBuyingIcon{
    fill: transparent;
    background-color: transparent !important;
    width: 128px;
    height: 15px;
}



