ion-toolbar{
    --color: var(--ion-toolbar-color,var(--ion-text-color,#402208));
    --background: transparent;
    --ion-color-base: transparent !important;
}


ion-content{
    --background: url("src/assets/backgrounds/mainBackground.jpg") no-repeat center center fixed cover;;
    --background-size: cover;
}

ion-footer{
    background-color: #547E1A;
    display: flex !important;
    justify-content: space-between !important;
}

.bg-image {
    background: url("src/assets/backgrounds/mainBackground.jpg") no-repeat center center fixed;
    background-size: cover;
}

.return{
    position: relative;
    top: 24px;
    left:19px;
    height: 16px;
    width: 13px;
}

.logoBlock{
    position: sticky; 
    top:20px;
}

.logo{
    margin-left: auto;
    margin-right: auto;
}

.list-products{
    background: var(--ion-item-background,var(--ion-background-color, transparent));
}

.productItem {
    fill: transparent;
    background: transparent !important; 
}

.grid-products{
    overflow-y: hidden;

}



item-native{
    fill: transparent;
    background: transparent !important; 
}

ion-item{
    --background: var(--ion-item-background,var(--ion-background-color,transparent));
}

ion-icon{
    font-size: 25px; 
    //size="large"
}

.imgItem{
    height:53.06px ;
    width: 89.9px ;
}

.priceItem{
    font-family: "Century Gothic";
    size: 15em;
    color: #402208;
}

.nameItem{
    font-family:"Century Gothic";
    size:18em;
    color: #402208;
    font-weight: bold;
}

.productImage{
    fill: transparent;
    --background: transparent !important; 
    color: transparent !important;
    width: 75.8px;
    height: 54.92px;
}

.productsBtn{
    display: inline-block;
    align-items: center;
    position: relative;
    top: 20px;
}

.qtyLabel{
    background-color: white !important;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    color: #402208;
    font-family: "Candara";
    font-weight: bold;
    height: 25px;
    width: 25px;
}

.addBtn, .removeBtn{
    background-color: #547E1A;
    text-align: center;
    color: white;
    font-family: "Candara";
    font-weight: bold;
    font-size: 1em;
    height: 25px !important;
    width: 25px !important;
}

.btns{
    background: url("src/assets/backgrounds/mainBackground.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: transparent !important;
    position:sticky;
    top:95vh;
    transform:translateY(-100%);
    width:100%;
    margin: 0;
}

.continueBuyingBtn{
    background-color: transparent !important;
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 1.2 em;
    color: #00852A;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.endBuyingBtn{
    background-color: transparent !important;
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 1.2 em;
    color: #00852A;
    margin-left: auto;
    margin-right: auto;
    float: right;
}

.categoriesBtns{
    margin: auto;
    display: flex;
}

.categoryBtn{
    background-color: transparent !important;
    display: flex;
    height: 50px;;
    width: 50px;
}

.categoryImg{
    height: 40px;;
    width: 40px;
}



