<ion-header>
  <ion-toolbar>
    <ion-buttons class="left" slot="start">
      <ion-button>
        <ion-icon name="arrow-round-back" click="returnToMenu()" ></ion-icon>
      </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon name="search"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon name="cart"></ion-icon>
    </ion-button>
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content fullscreen  class= "bg-image" scrollX="false"   >

  <!-- logo block -->
  <div class="logoBlock">
    <ion-img class="logo"  src="assets/fruits/35-02.png" ></ion-img>
  </div>


<div>
  <ion-grid class="grid-products" style=" background: transparent !important; " padding >
    <ion-row *ngFor="let item of items; let i = index" >
      <ion-col>
        <img class="imgItem" src="{{item.photo}}">
      </ion-col>

      <ion-col>
        <p style="text-align:center;">
          <label class="priceItem">1 {{item.typeSelling}} ${{item.price}}</label>
        <br>
          <label class="nameItem">{{item.name}}</label>
        </p>
      </ion-col>
          
      <ion-col style="width:100px;">
        <button class="addBtn" clear (click)="incrementQty(item.id)"><ion-icon src="assets/misc/add.svg" size="large"></ion-icon></button>{{qty}}
        <label> {{item.qty}}</label>
        <button class="removeBtn"  clear (click)="decrementQty(item.id)"><ion-icon src="assets/misc/remove.svg" size="large"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-grid>    
</div>


  <!-- <div >
    <ion-list style=" background: transparent !important; " padding >
      <ion-item class="productItem" *ngFor="let item of items">
        <img class="imgItem" src="{{item.photo}}">
        <p style="text-align:center;">
        <label class="priceItem">1 {{item.typeSelling}} ${{item.price}}</label>
        <br>
        <label class="nameItem">{{item.name}}</label>
        </p>
        <button class="addBtn" clear (click)="incrementQty(item.id)"><ion-icon src="assets/misc/add.svg" size="large"></ion-icon></button>{{qty}}
        <label> {{item.qty}}</label>
        <button class="removeBtn"  clear (click)="decrementQty(item.id)"><ion-icon src="assets/misc/remove.svg" size="large"></ion-icon></button>
      </ion-item>
    </ion-list>
  </div> -->

  <div style="background-color: transparent !important;">
    <div class="continue" >
      <button class="continueBuying-button">
        <img class="continueBuyingIcon" src="assets/buttons/continueBuying.png" alt="">
      </button>

      <button class="endBuying-button" click>
        <img class="endBuyingIcon" src="assets/buttons/endBuying.png" alt="" (click)="makePurchase()">
      </button>
    </div>
  </div>



</ion-content>
