<ion-header>
  <ion-toolbar>
    <ion-buttons class="left" slot="start">
      <ion-button>
        <ion-icon name="arrow-round-back" click="returnToMenu()" ></ion-icon>
      </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon name="search"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon name="cart"></ion-icon>
    </ion-button>
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen  class= "bg-image" scrollX="false"   >

  <!-- logo block -->
  <div class="logoBlock">
    <ion-img class="logo"  src="assets/fruits/35-02.png" ></ion-img>
  </div>


<div>
  <ion-grid class="grid-products" style=" background: transparent !important; " padding >
    <ion-row *ngFor="let item of items; let i = index" >
      <ion-col>
        <img class="imgItem" src="{{item.photo}}">
      </ion-col>

      <ion-col>
        <p style="text-align:center;">
          <label class="priceItem">1 {{item.typeSelling}} ${{item.price}}</label>
        <br>
          <label class="nameItem">{{item.name}}</label>
        </p>
      </ion-col>
          
      <ion-col style="width:100px;">
        <div class="productsBtn">
          <button class="addBtn" clear (click)="decrementQty(item.id)"> - </button>
          <label class="qtyLabel" > {{item.qty}}</label>
          <button class="removeBtn" clear (click)="incrementQty(item.id)"> + </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>    
</div>


<div padding class="btns">
  <button  slot="start" class="continueBuyingBtn" (click)="continueBuying()">
   Seguir comprando >
  </button>
  <button slot="start" class="endBuyingBtn" (click)="makePurchase()">
    Finalizar Compra >
  </button>
</div>

</ion-content>


<ion-footer >
  <div class="categoriesBtns">
    <button class="categoryBtn" *ngFor="let category of categoriesOptions; let i = index" (click)="selectedCategory(category.name)">
      <img  class="categoryImg" src="{{category.categoryImg}}">        
    </button>
  </div>
</ion-footer>
