<ion-header no-border   >
  <ion-toolbar  color="transparent" [class.show-background]="showToolbar"  >
  	<ion-buttons class="left" slot="start">
  		<ion-button>
  			<ion-icon name="arrow-round-back" ></ion-icon>
  		</ion-button>
  </ion-buttons>



  <ion-buttons slot="end">
    <ion-button>
			<ion-icon name="search"></ion-icon>
		</ion-button>
		<ion-button>
			<ion-icon name="cart"></ion-icon>
		</ion-button>
		<ion-menu-button></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>