<ion-header no-border>
  <ion-toolbar translucent>
    <ion-buttons>
      <ion-button>Salta Intro </ion-button>
      <img src="../assets/icon/rightArrow.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class= "bg-image no-scroll" [scrollEvents]="false">
  <div class="home-container row-center img">
      <img class="logo" src="../assets/logos/LOGO MAS ESLOGAN-02-02.png">
  </div>
</ion-content>



<!-- <ion-button class="intro">
    Saltar intro
</ion-button>
<img src="../assets/icon/rightArrow.png"> -->