page-home{
ion-content{
    --background: url("/myApp/src/assets/backgrounds/mainBackground.png") no-repeat center center fixed cover;;
    --background-size: cover;
}

.bg-image{
    background: url("/myApp/src/assets/backgrounds/mainBackground.png") no-repeat center center fixed;
    background-size: cover;
}
}