
<ion-header>

  <ion-toolbar>
    <ion-title>
      Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-grid>
		
		<ion-row>
			<ion-col>
				<div class="button-bar">
					<button class="registration">REGÍSTRATE</button>
					<button class="login">INGRESA</button>
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<ion-item>
					<ion-input type ="email" placeholder="Correo electrónico"></ion-input>
				</ion-item> 
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<ion-item>
					<ion-input type="password" placeholder = "Contraseña"></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<!-- Add href-->
				<ion-item>
					<ion-label>Has olvidado tu constraseña?</ion-label>
				</ion-item>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<ion-toggle>Recuérdame</ion-toggle>
			</ion-col>
		</ion-row>


		<ion-row>
			<button class="loginBtn">Continuar</button>
		</ion-row>

		<ion-row>
			<ion-col>
				<ion-item>
					<button>Continuar como invitado</button>
				</ion-item>
			</ion-col>
		</ion-row>

	</ion-grid>


<!--   The world is your oyster.
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p> -->
</ion-content>


