<ion-content fullscreen  class= "bg-image" scrollX="false" >
    <!-- logo block -->
    <div>
      <figure>
        <ion-img src="assets/logos/logo2.png"></ion-img>
      </figure>
    </div>

    <div style="text-align: center;">
      <ion-label class="labelPass"> ¿Olvidaste tu Contraseña? </ion-label>
    </div>

    <div style="text-align: center;">
      <ion-input class="email-input" type="email" placeholder="Correo electrónico" ></ion-input>
    </div>
   
    <div style="align-content: center;">
      <button class="retrivePass"> 
        <div style="text-align: center;">
          <img src="assets/buttons/retrivePass.png" style="height: 39px;" >
        </div>
      </button>
    </div> 
       
     


</ion-content>


