<ion-content fullscreen  class= "bg-image" scrollX="false" >
  <div>
    <img class="return" src="assets/buttons/returnBtn.png" [routerLink]="['/login']">
  </div>
    
  <!-- logo block -->
    <div class="logoBlock">
      <ion-img class="logo"  src="assets/logos/logo2.png" style="height:75px;width: 150px;"></ion-img>
    </div>

  <div class="label" >
    <ion-label class="labelPass"> ¿Olvidaste tu Contraseña? </ion-label>
  </div>

  <form #form="ngForm" (ngSubmit)="retrivePass(form)" method="post">
    <div class="email">
      <div style="width: 305.98px;">
        <ion-input ngModel class="email-input" name="email" type="email" placeholder="Correo electrónico" ></ion-input>
      </div>
    </div>
   
    <div class="button">
      <button type="submit" class="retrivePass"   >
        <ion-img class="retriveIcon" src="assets/buttons/retrivePass.png" alt="" ></ion-img>
      </button>
    </div> 

  </form>
       
</ion-content>


