<ion-header>
    <ion-toolbar>
      <ion-buttons class="left" slot="start">
        <ion-button [routerLink]="['/menu/products-menu']">
          <ion-icon name="arrow-round-back" ></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="cart"></ion-icon>
      </ion-button>
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>



  
<ion-content fullscreen  class= "bg-image" scrollX="false" padding>

  <!-- logo block -->
  <div class="logoBlock">  
    <div class="organicsIcon">
      <div style="display:flexbox; text-align: center;">
        <ion-img class="logo" src="assets/icon/iconOrganics.png" ></ion-img>
        <label class="organicsLabel">ORGÁNICO</label>
      </div >
      <div style="position: relative; top: 88px;">
        <ion-img class="list" src="assets/icon/38-02.png" [routerLink]="['/list-fruits']"></ion-img>
      </div>
    </div>
  </div>


</ion-content>

<ion-footer >
  <ion-toolbar class="options">
      <button class="fruBtn" [routerLink]="['/fruits']">
        <img class="fruIcon" src="assets/icon/iconFruitsWhite.png">
      </button>
      <button class="vegBtn" [routerLink]="['/vegetables']">
        <img class="vegIcon" src="assets/icon/iconVegetablesWhite.png">
      </button>
      <button class="riBtn" [routerLink]="['/rices']">
        <img class="riIcon" src="assets/icon/iconRicesWhite.png">
      </button>
  </ion-toolbar>
</ion-footer>