<ion-content fullscreen  class= "bg-image" scrollX="false" scrollY="true"  padding>
  
  <div>
    <img class="return" src="assets/buttons/returnBtn.png" [routerLink]="['/login']">
  </div>

  <div class="logo1">
    <ion-img class="logoImage" src="assets/logos/logo2.png"></ion-img>
  </div>

  <div class="adressZones">
    <ion-grid class="gridAdress">
      <ion-row class="rowLabel">
        <ion-label class="zoneSelection">SELECCIONA TU SECTOR</ion-label>
      </ion-row> 
      <ion-row class="rowList">
        <ion-list class="list" >
          <button ion-item [class.highlight]="route.selected"  *ngFor="let item of items; let i = index" (click)="selectCP(item)"> {{item.name}} </button>
        </ion-list>
      </ion-row>
    </ion-grid>
  </div>

  <!-- <div class="adressZones">
      <ion-grid class="gridAdress">
        <ion-row class="rowLabel">
          <ion-label class="zoneSelection">SELECCIONA TU SECTOR</ion-label>
        </ion-row> 
        <ion-row class="rowList">
          <ion-list class="list" >
            <ion-item  *ngFor="let item of items; let i = index"> {{item.name}}</ion-item>
          </ion-list>
        </ion-row>
      </ion-grid>
    </div> -->

   
  <div class="continueBtnDiv">
    <button class="continueBtn" (click)="register()"  >
      <img src="assets/buttons/continueLogin.png" alt="" >
    </button>
  </div>

</ion-content>
