ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

ion-content{
    --background: url("src/assets/backgrounds/mainBackground.jpg") no-repeat center center fixed cover;;
    --background-size: cover;
}

.bg-image {
    background: url("src/assets/backgrounds/mainBackground.jpg") no-repeat center center fixed;
    background-size: cover;
} 

.return{
    position: relative;
    top: 10px ;
    height: 16px;
    width: 13px;
}

.logo1{
    position: relative;
    top: 66px;
}

.logoImage{
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 150px;
}

.highlight {
    background-color: #FFFF33 !important;
}

.adressZones{
    position: relative;
    top:150px;
    display: block;
    background-color: transparent !important;
    height: 10em;
    padding: none; 
}

.gridAdress{
    align-items: center;
    padding: none;
    width: 20em;
}

.rowLabel{
    background-color: #402208;
    height: 1.5em;
    width: 300px;
}

.rowList{
    background-color:transparent !important;
    height: 1.5em;
    width: 300px;
}

.zoneSelection{
    position: relative;
    text-align: center;
    align-items: center;
    font-family: 'Century Gothic';
    font-weight: bold;
    color: white;
    size: 18em;
    height: 150px;
}

.list{
    text-align: center;
    position: relative;
    display: flexbox;
    --background: var(--ion-item-background,var(--ion-background-color,#402208));
    opacity: 0.5 !important;
    padding-right: inherit;
    padding-left: inherit;
    width: 300px;
    height: 200px;
    overflow:hidden; 
    overflow-y:scroll;
}

.productItem{
    font-family: 'Century Gothic';
    font-weight: bold;
    size: 13.56px;
    color:white;

}

.continueBtnDiv{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 300px;
    height:39px;
    width:163.47px;
}

.continueBtn{
    background-color: transparent !important;
    margin-left: auto;
    margin-right: auto;
    height:39px;
    width:163.47px;
}