ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

ion-content{
    --background: url("src/assets/backgrounds/mainBackground.jpg") no-repeat center center fixed cover;;
    --background-size: cover;
}

.bg-image {
    background: url("src/assets/backgrounds/mainBackground.jpg") no-repeat center center fixed;
    background-size: cover;
} 

.return{
    position: relative;
    top: 10px ;
    // left:19px;
    height: 16px;
    width: 13px;
}

.logo1{
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 66px;
    left: 113px;
    height: 80px;
    width: 150px;
}

// .scrollable{
//     height: 200px;
// }

.adressZones{
    position: relative;
    top:140px;
    display: block;
    background-color: #402208;
    height: 10em;
    
}

.zoneSelection{
    font-family: 'Century Gothic';
    size: 18em;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    height: 150px;
}

.list{
    text-align: center;
    position: relative;
    display: flexbox;
    margin-left: auto;
    margin-right: auto;
    background-color: #402208;
    --opacity: 0.5 !important;
    padding-right: inherit;
    padding-left: inherit;

    // overflow:hidden; 
    // overflow-y:scroll;
    // -webkit-overflow-scrolling: touch;
}

.productItem{
    --background: var(--ion-item-background,var(--ion-background-color,#402208));
    font-family: 'Century Gothic';
    font-weight: bold;
    size: 13.56px;
    color:white;

}

.continueBtn{
    display: flexbox;
    position: absolute;
    top: 575px;
    left:98px;
    
}