<ion-content fullscreen  class= "bg-image" scrollX="false"  padding>
    
  <div>
    <img class="return" src="assets/buttons/returnBtn.png" [routerLink]="['/login']">
  </div>
    
  <!-- logo block -->
  <div class="logo1">
    <ion-img src="assets/logos/logo2.png"></ion-img>
  </div>


  <div class="adressZones">
    <label class="zoneSelection">SELECCIONA TU SECTOR</label>
      <ion-virtual-scroll [items]="items">
      <ion-item class="productItem" *virtualItem="let item">
        {{ item.name }}
      </ion-item>
    </ion-virtual-scroll>
  </div>






<!-- 
  <div class="adressZones" >
    <label class="zoneSelection">SELECCIONA TU SECTOR</label>
        <ion-list class="list"  padding >
            <ion-item class="productItem" *ngFor="let item of items">
              <label class="nameItem">{{item.name}}</label>
            </ion-item>
          </ion-list>
  </div> --> -->


  <!-- <div>
    <ion-virtual-scroll [items]="items">
      <ion-item *virtualItem="let item">
        {{ item.name }}
      </ion-item>
    </ion-virtual-scroll>
  </div> -->



  <div class="continueBtn">
    <button style=" background-color: transparent !important;" [routerLink]="['/menu/products-menu']" >
      <img src="assets/buttons/continueLogin.png" alt="" style="height:39px;width:163.47px;">
    </button>
  </div>

</ion-content>
