<ion-content fullscreen  class= "bg-image" scrollX="false" scrollY="false"  padding>
    
  <div>
    <img class="return" src="assets/buttons/returnBtn.png" [routerLink]="['/login']">
  </div>
    
  <!-- logo block -->
  <div class="logo1">
    <ion-img src="assets/logos/logo2.png"></ion-img>
  </div>

  <!-- <div class="adressZones">
  <mbsc-scrollview [options]="contentSettings" #contentView>
      <mbsc-scrollview-item i>
          <mbsc-listview [options]="listviewSettings">
              <mbsc-listview-item *ngFor="let item of items" >
                  {{item.name}}
              </mbsc-listview-item>
          </mbsc-listview>
      </mbsc-scrollview-item>
  </mbsc-scrollview>
</div> -->

<div class="adressZones" >
    <ion-list class="list" padding  >
        <ion-list-header>
          <ion-label>SELECCIONA TU SECTOR</ion-label>
        </ion-list-header>
        <ion-item class="productItem" *ngFor="let item of items">
            <label class="nameItem">{{item.name}}</label>
        </ion-item>
      </ion-list>
</div>

<!-- <div class="adressZones">
    <ion-virtual-scroll [items]="items">
        <ion-item-divider >
          SELECCIONA TU SECTOR
        </ion-item-divider>
        <ion-item *virtualItem="let item">
          {{ item.name }}
        </ion-item>
      </ion-virtual-scroll>
</div> -->





  <!-- <div>
    <ion-virtual-scroll [items]="items">
      <ion-item *virtualItem="let item">
        {{ item.name }}
      </ion-item>
    </ion-virtual-scroll>
  </div> -->



  <div class="continueBtn">
    <button style=" background-color: transparent !important;" [routerLink]="['/menu/products-menu']" >
      <img src="assets/buttons/continueLogin.png" alt="" style="height:39px;width:163.47px;">
    </button>
  </div>

</ion-content>
