ion-content{
    --background: url("src/assets/backgrounds/mainBackground.jpg") no-repeat center center fixed cover;;
    --background-size: cover;
}

ion-footer{
    --background-color:#547E1A !important;
}

.bg-image {
    background: url("src/assets/backgrounds/mainBackground.jpg") no-repeat center center fixed;
    background-size: cover;
}


.weight{
    position: relative; 
    top:100px;
}

.weightLogo{
    margin-left: auto;
    margin-right: auto;
    width: 221.86px;
    height: 369.79px;
}


.footerOption {
    --background: #547E1A !important;
    fill: #547E1A !important; 
}

.toolbarOptions{
        background-color: transparent !important;
        // fill: #547E1A !important;
}

// .footerOption .optionBtns .toolbarOptions{
//     background-color: #547E1A !important;
//     fill: #547E1A !important;
// }

// .toolbarOptions{
//     background-color: #547E1A;
//     fill: #547E1A;
//     margin-top: auto;
//     margin-bottom: auto;
//     height: 40px;
// }

// .fruitBtn .vegetableBtn .organicBtn .organicBtn{
//     background-color: #547E1A;
//     fill: #547E1A;
//     width: 18.54px;
//     height: 23.44px;
// }

// .iconFruit .iconVegetable .iconOrganic .iconRice{
//     background-color: #547E1A;
//     fill: #547E1A;
//     width: 18.54px;
//     height: 23.44px;
// }

.iconFruit{
    width: 18.54px;
    height: 23.44px;
}
