<ion-header>
    <ion-toolbar>
      <ion-buttons class="left" slot="start">
        <ion-button>
          <ion-icon name="arrow-round-back" [routerLink]="['/menu/products-menu']"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="cart"></ion-icon>
      </ion-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>



  
<ion-content fullscreen  class= "bg-image" scrollX="false" padding>

    <!-- image block -->
    <div class="weight">
      <ion-img class="weightLogo" src="assets/misc/47-02.png" ></ion-img>
    </div>

</ion-content>

<ion-footer class="footerOption">
  <ion-toolbar class="toolbarOptions">
    <!-- <ion-buttons class="optionBtns">
        <img class="iconFruit" src="assets/icon/iconFruits.png">
      <button class="fruitBtn" [routerLink]="['/menu/fruits']">
        <img class="iconFruit" src="assets/icon/iconFruits.png">
      </button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-footer>



<!-- <button class="vegetableBtn" [routerLink]="['/menu/vegetables']"> 
  <img class="iconVegetable" src="assets/icon/iconVegetables.png">
</button>
<button class="organicBtn" [routerLink]="['/menu/organics']">
  <img class="iconOrganic" src="assets/icon/iconOrganics.png">
</button>
<button class="organicBtn" [routerLink]="['/menu/rices']">
  <img class="iconRice" src="assets/icon/iconRices.png">
</button> -->